@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
    font: inherit;
    text-decoration: none;
	vertical-align: baseline;
	-webkit-font-smoothing: antialiased;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, textarea, button {
	outline: none;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
	overflow: hidden;
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
	overflow: auto;
}

.animate {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes introIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes introIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.intro1 {
  -webkit-animation-name: introIn;
  animation-name: introIn;
  animation-delay: .5s;
}

.intro2 {
  -webkit-animation-name: introIn;
  animation-name: introIn;
  animation-delay: 2.7s;
}

.intro3 {
  -webkit-animation-name: introIn;
  animation-name: introIn;
  animation-delay: 5.2s;
}

.info {
  -webkit-animation-name: introIn;
  animation-name: introIn;
  animation-delay: 8s;
}

@-webkit-keyframes introOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes introOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    display: none;
  }
}

.introOut {
  -webkit-animation-name: introOut;
  animation-name: introOut;
}


/* END OF RESET */


/* Information */

/* .kobe-header {
  font-size: 40px;
  position: relative;
  left: 50%;
  right: 50%;
  top: 0;
} */

#infoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 10%;
  top: 18%;
  width: 10%;
  /* border: 1px solid black; */
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 35px;
  text-align: center;
}

#infoContainer img {
  margin-top: 20px;
  border-radius: 40px;
  height: 300px;
  width: 300px;
  box-shadow: 0 1.5px 5px 1.5px rgba(0,0,0,.5);

}

/* .kobe-image {
  display: none
}

.kobe-image:hover {
  display: block
} */

/* Introduction */

.intro-container {
    display: flex;
    position: fixed;
    left: 5%;
    flex-direction: column;
    height: 90%;
    width: 25%;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 40px;
    font-weight: 500;
}

/* Personal Plugs */
#personal-plugs{
    display: flex;
    position: fixed;
    align-items: center;
    flex-direction: row-reverse;
    left: 39%;
    bottom: 10px;
    justify-content: space-between;
    width: 265px;
    height: 120px;
    font-size: 70px;
}

#git{
    color: black;
    margin-top: 4px;
    margin-left: 4px;
    height: 70px;
}

#angel,
#link {
    height: 60px;
}

#angel {
    color: gray;
}

#personal-plugs > a {
    color: rgba(53, 154, 255, 1);
    /* color: rgba(145, 174, 255, 1); */
    /* -webkit-transition: color 1s ease-in;
    -moz-transition: color 1s ease-in;
    -o-transition: color 1s ease-in;
    transition: color 1s ease-in; */
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    transition-duration: 0.25s;
    -webkit-transition-duration: 0.25s;
}

#personal-plugs > a:hover {
    /* color:  rgba(37, 65, 178, 1); */
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
}


/* RGB */
/* $baby-blue: rgba(175, 212, 255, 1);
$light-purple: rgba(145, 174, 255, 1);
$blue: rgba(53, 154, 255, 1);
$indigo: rgba(0, 105, 144, 1);
$dark-indigo: rgba(0, 38, 53, 1);
$orange: #FA7921;

/* RGB */
/* $darkest-purple: rgba(31, 32, 65, 1);
$purple: rgba(75, 63, 114, 1);
$yellow: rgba(255, 200, 87, 1);
$blue-green: rgba(17, 157, 164, 1);
$blue-saph: rgba(25, 100, 126, 1);
/* RGB */
/* $royal-blue: rgba(3, 37, 208, 1);
$denim-blue: rgba(37, 65, 178, 1);
$green-blue: rgba(23, 104, 172, 1);
$cyan: rgba(6, 190, 225, 1); */ 
